.paper_container {
  border-radius: 16px !important;
  max-width: calc(100vw - 256px) !important;
  overflow: hidden;
  padding: 20px;
  margin: 20px;
  text-align: center;

  .heading{
      text-align: center;
  }

  .notFoundError{
    text-align: center;
  }

  .addButton{
    padding: 8px 16px;
    margin: 24px 0;
    font-weight: 550;
    width: 160px;
  }

  .printSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    .savePDFbutton{
      padding: 8px 16px;
      margin-top: 72px;
      font-weight: 600;
      width: 120px;
    }
  }
}