.heading {
  text-align: center;
}

.notFoundError {
  text-align: center;
}

.totalTable {
  max-width: 70%;
  align-self: center;
}

.subTotalText {
  font-weight: 600;
}

.grandTotalText {
  font-weight: 750;
}
